body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    margin-top: 15px;
    border-collapse: collapse;
    width: 300px;
    text-align: center;
}

th, td {
    padding: 8px;
}